.app-template {
	max-width: 1200px;
	margin: auto;
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}

@media (max-width: 1200px) {
	.app-template {
		max-width: 1000px !important;
	}
}


@media (max-width: 1000px) {
	.app-template {
		max-width: 800px !important;
	}
}


@media (max-width: 800px) {
	.app-template {
		max-width: 600px !important;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: none;
		gap: 50px;
	}
}


@media (max-width: 600px) {
	.app-template {
		max-width: 100% !important;
		padding: 10px;
	}
}