.preview-section {
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/* Full viewport height */
	position: relative;
	/* Required for absolute positioning of watermark */
	padding-bottom: 50px;
	/* Space for watermark */
	box-sizing: border-box;
	/* Include padding in height calculation */

	.profilePic {
		margin-top: 10px;
		height: 5rem !important;
		width: 5rem;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #ffffff;

		.pic-image {
			width: 100%;
			height: 100%;
		}
	}

	.name {
		font-size: 1.5rem;
		font-weight: 700;
		margin-top: 1rem;
		color: #ffffff;
	}

	.about {
		font-size: 0.875rem;
		margin-top: 0.5rem;
		width: 80%;
		color: #ffffff;
		text-align: center;
	}

	.buttons {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		gap: 10px;
	}

	.watermark {
		width: 100%;
		color: #ffffff;
		text-align: center;
		padding: 10px 0;
		position: absolute;
		/* Positioned at the bottom */
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		/* Optional: semi-transparent background */
		box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
		/* Optional: shadow for better visibility */

		.watermark-only {
			display: block;
			/* Ensure full-width block behavior */
			padding: 16px;
			color: #ffffff;
			font-weight: 500;
			border-top: 1px solid #ffffff;
			/* Full-width border */
			border-bottom: 1px solid #ffffff;
			/* Full-width border */
		}

		.watermark-text {
			font-size: 12px;
			margin-top: 5px;
		}
	}
}

@media (max-width: 500px) {
	.preview-section {
		padding: 10px;

		.name {
			font-size: 1rem;
		}

		.about {
			font-size: .75rem;
		}

		.watermark {
			.watermark-text {
				font-size: 8px;
			}
		}
	}
}



.modal-open {
	position: fixed; // Fixed positioning to overlay on top of other content
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black background
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; // Ensure the modal is on top of other elements
}

.modal-closed {
	display: none; // Hide the modal when it is not open
}

.modal-content {
	background-color: #fff; // White background for the modal content
	padding: 20px;
	border-radius: 8px; // Rounded corners for a softer look
	width: 80%; // Make the modal responsive
	max-width: 400px; // Set a maximum width for larger screens
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); // Subtle shadow for depth
	text-align: center; // Center align text inside the modal
	animation: slideDown 0.3s ease-out; // Slide-down animation for the modal
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@keyframes slideDown {
	from {
		transform: translateY(-20%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.modal-content p {
	font-size: 16px;
	margin-bottom: 20px;
	color: #333; // Dark grey text for better readability
}

.modal-content input {
	padding: 8px 20px;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #000;
}

.modal-content button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #45a049;
	}

	&:active {
		background-color: #388e3c;
	}
}

.modal-content button:last-child {
	background-color: #af4c4c;
}