.preview-section {
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/* Full viewport height */
	position: relative;
	/* Required for absolute positioning of watermark */
	padding-bottom: 50px;
	/* Space for watermark */
	box-sizing: border-box;
	/* Include padding in height calculation */

	.profilePic {
		margin-top: 10px;
		height: 5rem !important;
		width: 5rem;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #ffffff;

		.pic-image {
			width: 100%;
			height: 100%;
		}
	}

	.name {
		font-size: 1.5rem;
		font-weight: 700;
		margin-top: 1rem;
		color: #ffffff;
	}

	.about {
		font-size: 0.875rem;
		margin-top: 0.5rem;
		width: 80%;
		color: #ffffff;
		text-align: center;
	}

	.buttons {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		gap: 10px;
	}

	.watermark {
		width: 100%;
		color: #ffffff;
		text-align: center;
		padding: 10px 0;
		position: absolute;
		/* Positioned at the bottom */
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		/* Optional: semi-transparent background */
		box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
		/* Optional: shadow for better visibility */

		.watermark-only {
			display: block;
			/* Ensure full-width block behavior */
			padding: 16px;
			color: #ffffff;
			font-weight: 500;
			border-top: 1px solid #ffffff;
			/* Full-width border */
			border-bottom: 1px solid #ffffff;
			/* Full-width border */
		}

		.watermark-text {
			font-size: 12px;
			margin-top: 5px;
		}
	}
}

@media (max-width: 500px) {
	.preview-section {
		padding: 10px;

		.name {
			font-size: 1rem;
		}

		.about {
			font-size: .75rem;
		}

		.watermark {
			.watermark-text {
				font-size: 8px;
			}
		}
	}
}