.app-form {
	width: 45% !important;
	padding: 20px;
	height: 85vh;
	overflow-y: scroll;

	/* Scrollbar track */
	&::-webkit-scrollbar {
		width: 0;
		/* Width of the scrollbar */
	}
}

@media (max-width: 800px) {
	.app-form {
		width: 100% !important;
	}
}