.dashboard {
	max-width: 1200px;
	margin: auto;


	.dashboard-search {
		width: 100%;
		border: 1px solid #fff;
		position: relative;
		height: 40px;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 50px;


		.dashboard-inp {
			width: 100%;
			background-color: #000;
			height: 100%;
			border: none !important;
			color: #fff;

			&:focus {
				outline: none;
			}
		}

		.dashboard-icon {
			position: absolute;
			top: 10px;
			right: 20px;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}

	}


	.dashboard-title {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.dashboard__cards {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 60px;
		// justify-content: space-between;


		.dashboard__cards-item {
			width: 30% !important;
			height: 200px;
			padding: 10px;
			display: flex;
			background-color: #000;
			border: 2px solid #fff;
			border-radius: 10px;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			.item__title {
				font-size: 18px;
				font-weight: 700;
			}

			.item__username {
				margin-bottom: 30px;
				font-size: 14px;
				font-weight: 500px;
			}

			.item__btn {
				width: 100%;
				padding: 10px;
				background-color: transparent;
				border: 1px solid #fff;
				color: #fff;
				border-radius: 5px;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1200px) {
	.dashboard {
		max-width: 1000px !important;

		.dashboard__cards {
			.dashboard__cards-item {
				width: 47% !important;
			}
		}

	}
}


@media (max-width: 1000px) {
	.dashboard {
		max-width: 800px !important;

		.dashboard__cards {
			.dashboard__cards-item {
				width: 46% !important;
			}
		}

	}
}


@media (max-width: 800px) {
	.dashboard {
		max-width: 600px !important;

		.dashboard__cards {
			.dashboard__cards-item {
				width: 100% !important;
			}
		}
	}
}

@media (max-width: 600px) {
	.dashboard {
		max-width: 100% !important;
		padding: 10px;


		.dashboard__cards {
			.dashboard__cards-item {
				width: 100% !important;
			}
		}
	}
}