.app-form-profile {
	width: 100% !important;
	background-color: black;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	input[type="file"] {
		display: none;
	}

	.profile-button {
		background-color: transparent;
		padding: 10px;
		border: 1px solid #fff;
		color: transparent;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
	}

	.profile-inp {
		padding: 10px;
		border: 1px solid #fff;
		background-color: transparent;
		border-radius: 5px;
		color: #fff;
		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #AAAAAA;
		}
	}

	.profile-area {
		height: 80px !important;
		padding: 10px;
		border: 1px solid #fff;
		background-color: transparent;
		border-radius: 5px;
		color: #fff;
		resize: none;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #AAAAAA;
		}
	}
}